#!/bin/bash

# Enable X-restart hotkey ctrl_alt_bksp. This line
# should remain at the top, since it seems to also
# reset the keymaps, undoing any custom xmodmap
# commands that happen previously
setxkbmap -option terminate:ctrl_alt_bksp
xmodmap ~/.xmodmaprc

if [ "$GDMSESSION" = "awesome" -o "$GDMSESSION" = "xmonad" ]; then
  xmodmap ~/.xmodmap_xmonad
fi

~/.xinputrc
~/.screen_toggle
xscreensaver -nosplash &
~/.dropbox-dist/dropboxd
