#!/bin/bash

# Enable X-restart hotkey ctrl_alt_bksp. This line
# should remain at the top, since it seems to also
# reset the keymaps, undoing any custom xmodmap
# commands that happen previously
setxkbmap -option terminate:ctrl_alt_bksp
if [ `xinput list | grep 'HID' | wc -l` -gt 0 ]; then
  KINESIS="TRUE"
fi

if [ "$KINESIS" != "TRUE" ]; then
  xmodmap ~/.xmodmaprc.old
fi

if [ "$GDMSESSION" = "awesome" -o "$GDMSESSION" = "xmonad" ]; then
  if [ "$KINESIS" != "TRUE" ]; then
    xmodmap ~/.xmodmap_monad.old
  fi
  xscreensaver -nosplash &
  # give screen_toggle an argument in order to not set
  # background image
  #~/.screen_toggle_dualscreen 1
  ~/.screen_settings_single
else
  #~/.screen_toggle
  ~/.screen_settings_single
fi

~/.xinputrc
~/.dropbox-dist/dropboxd &
