#!/bin/bash

# Enable X-restart hotkey ctrl_alt_bksp. This line
# should remain at the top, since it seems to also
# reset the keymaps, undoing any custom xmodmap
# commands that happen previously
setxkbmap -option terminate:ctrl_alt_bksp
xmodmap ~/.xmodmaprc

if [ "$GDMSESSION" = "awesome" -o "$GDMSESSION" = "xmonad" ]; then
  xmodmap ~/.xmodmap_xmonad
  xscreensaver -nosplash &
  # give screen_toggle an argument in order to not set
  # background image
  ~/.screen_toggle 1
else
  ~/.screen_toggle
fi

~/.xinputrc
~/.dropbox-dist/dropboxd &
